/* Style the tab */
.tab {
  overflow: visible;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  background-color: #3bccc4;
  border-radius: 4px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #276047;
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #3bccc4;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: all 150ms ease-out;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
}

.tab button:active {
  transform: scale(0.98);
}

/* Create an active/current tablink class */
.tab button:focus {
  background-color: #ffffff;
  border-style: solid;
  border-width: 3px;
  border-color: #3bccc4;
  background-color: #ffffff;
}

/* Style the tab content */
/* .tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} */
.tabNewEmployee {
  overflow: visible;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  background-color: #3bccc4;
  height: 4.5em;
  border-radius: 4px;
}

.tabNewEmployee button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #276047;
  font-size: 22px;
  width: 20%;
  height: 3em;
  border-radius: 4px;
}

.tabNewEmployee button:hover {
  background-color: rgb(103, 230, 189);
  height: 4em;
}

.tabNewEmployee button:focus {
  background-color: #8ef3db;
  font-size: 20px;
}

button.submitButton {
  background-color: #267a65;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 22px;
  padding: 10px;
  border: solid;
  border-width: 0.5px;
  transition: all 150ms ease-out;
  width: 100%;
  margin: 10px;
}

button.submitButton:hover {
  transform: scale(1.01);
}

button.submitButton:active {
  transform: scale(0.98);
}
