/* .organizationchart-demo .card {
  overflow-x: scroll;
  overflow-y: scroll;
} */

.organizationchart-demo .p-organizationchart .p-person {
  padding: 0;
  border: 0 none;
  margin-bottom: 10px;
  /* min-width: 40px; */
}

.organizationchart-demo .p-organizationchart .node-header,
.organizationchart-demo .p-organizationchart .node-content {
  padding: 0.5em 0.7rem;
}

.organizationchart-demo .p-organizationchart .node-header {
  background-color: #24d1ae;
  color: #ffffff;
}

.organizationchart-demo .p-organizationchart .node-content {
  text-align: center;
  border: 1px solid #24d1ae;
}

.organizationchart-demo .p-organizationchart .node-content img {
  border-radius: 50%;
}

/* .organizationchart-demo .p-organizationchart .department-cfo {
  background-color: #7247bc;
  color: #ffffff;
} */

/* .organizationchart-demo .p-organizationchart .department-coo {
  background-color: #a534b6;
  color: #ffffff;
} */

.organizationchart-demo .p-organizationchart .department {
  background-color: #cf8e80;
  color: #ffffff;
}

.organizationchart-demo .p-organizationchart .team {
  background-color: #f7ab71;
  color: #ffffff;
}

button.exportPDF {
  width: 100%;
  background-color: #267a65;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 22px;
  padding: 10px;
  border: solid;
  border-width: 0.5px;
  margin-top: 10px;
  transition: all 150ms ease-out;
  border-radius: 4px;
  margin-bottom: 20px;
}
button.exportPDF:hover {
  transform: scale(1.02);
}

button.exportPDF:active {
  transform: scale(0.95);
}
