.popupBody {
  height: 400px;
  width: 50%;
  background-color: rgb(238, 254, 255);
  position: absolute;
  top: 20%;
  right: 10%;
  padding: 20px;
  z-index: 200;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 15px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.closeBtn {
  cursor: pointer;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  padding: 0 10px;
  background-color: white;
}

/* .modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
} */
