img.title_employee_photo {
  height: auto;
  width: 100px;
  border-radius: 50%;
}

button.editButton {
  background-color: rgb(14, 178, 179);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 22px;
  padding: 10px;
  border: solid;
  border-width: 0.5px;
  transition: all 150ms ease-out;
}

button.editButton:hover {
  transform: scale(1.1);
}

button.editButton:active {
  transform: scale(0.95);
}
