.statusUpdateCard {
  width: 300px;
  height: 650px;
  background-color: lightgoldenrodyellow;
  margin: 10px;
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
}

/* .statusCard:active {
  transform: scale(1.05);
}

.statusCard:hover {
  transform: scale(1.05);
} */

.status {
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 8px;
  /* background-color: pink; */
}

.profilepic {
  width: 150px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.endDate {
  margin-left: 20px;
  font-size: 1.25rem;
}

.daysLeft {
  color: rgb(232, 125, 125);
  margin-left: 20px;
}

.person,
.position {
  margin-left: 20px;
}

/* .space {
  height: 50px;
} */

.handleButton {
  height: 100px;
  /* width: 250px; */
  /* margin-left: 10px; */
  border-radius: 5%;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}
