.month-picker-container {
  display: flex;
  justify-content: flex-end;

  .month-picker {
    margin: 0 0 25px 0;
    width: 200px;
  }
}

.attendance-container {
  * {
    margin: 0;
    padding: 0px;
  }
  $border-color: #3d3333;
  // position: relative;

  .header-attendance-row {
    display: flex;
    // flex-wrap: wrap;
    outline: 3px solid $border-color;
    min-height: 13%;
    width: 100%;
    background-color: #0db1b3;

    .attendance-info {
      outline: 0.1px solid $border-color;
      min-width: 85px;
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      font-size: 13px;
      // min-height: 70px;
    }
    .attendance-loop-container {
      display: flex;
      width: 75%;
      flex-wrap: wrap;

      .attendance-loop {
        outline: 0.1px solid $border-color;
        min-width: 25px;
        width: 3.2%;
        // width: 40px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
      }
    }

    .header-action {
      outline: 1px solid $border-color;
      width: 100px;
      min-width: 7%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 12px;
    }
  }

  .attendance-row {
    display: flex;
    // flex-wrap: wrap;
    outline: 1px solid $border-color;
    min-height: 13%;
    width: 100%;
    background-color: #f1f7f7;

    .attendance-info {
      outline: 0.1px solid $border-color;
      min-width: 85px;
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      font-size: 13px;

      // min-height: 70px;
    }
    .attendance-loop-container {
      display: flex;
      width: 75%;
      flex-wrap: wrap;

      .attendance-loop {
        outline: 0.1px solid $border-color;
        min-width: 25px;
        width: 3.2%;
        // width: 40px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
      }
      // .attendance-loop:hover {
      //   transform: scale(1.12);
      //   background-color: #c6e9e9;
      // }
    }

    .header-action {
      outline: 1px solid $border-color;
      width: 100px;
      min-width: 7%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.attendance-pop-up {
  outline: 3px solid #204887;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
  font-size: 18px;
  position: fixed;
  left: 35%;
  top: 20%;
  z-index: 10;
  border-radius: 30px;
  background-color: #c3edf5;

  .employeeInfo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    outline: 2px solid #729798;
    border-radius: 40px;
    height: 100px;
    font-size: 25px;
    color: #0a898e;
  }

  .employeeId_and_date {
    display: flex;
    flex-direction: "row";
  }

  .employeeId_and_date_innerText {
    margin-left: 10px;
  }

  .attendance-time-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 20px;
  }
  .attendance-checkInOut_time {
    display: flex;
    flex-direction: "row";
  }
  .attendance-checkInOut_time_innerText {
    margin-left: 10px;
    font-weight: bold;
  }
  .attendance-form-container {
    font-size: 22px;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100px;

    .button-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 15px 0 0 0;
    }

    .attendSelection {
      margin-left: 10px;
      height: 30px;
      border-radius: 10px;
      font-size: 20px;
      background-color: #f1f7f7;
    }

    button {
      height: 30px;
      width: 70px;
      border-radius: 20px;
    }
  }
}
