.month-picker-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .searchFilterContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    // margin-bottom: 10px;
    // margin-left: 7%;

    .searchText {
      // margin-bottom: 5px;
      font-weight: bold;
      // font-size: larger;
      margin-top: 0;
      font-weight:400;
    }

    .searchFilter {
      // height: 45px;
      // width: 130px;
      // border: 2px solid #00a7a9;
      // background-color: #d8ebeb;
      // border-radius: 20px;
      // padding: 10px;
      // font-size: 20px;

      width: 100%;
      height: 30px;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  
    }
    .searchFilter:focus {
      border: 3px solid #0f989b;
    }
  }

  .importCSVpartContainer {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    // background-color: #c1e1e1;
    border-radius: 30px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;

    input {
      border-radius: 20px;
      display: flex;
      margin: 0;
      // background-color: #a7dbdb;
    }

    .importCSVbutton {
      height: 40px;
      width: 70px;
      background-color: #a7dbdb;
      border-radius: 10px;
      margin-left: 6px;
      font-size: 10px;
    }
    .importCSVbutton:hover {
      transform: scale(1.12);
      background-color: #51aeb1;
    }
  }

  .month-picker {
    margin: 0 0 25px 0;
    width: 200px;
  }
}

.attendance-container {
  * {
    margin: 0;
    padding: 0px;
  }
  $border-color: #6e6e6e;
  // position: relative;

  .header-attendance-row {
    display: flex;
    // flex-wrap: wrap;
    outline: 3px solid $border-color;
    min-height: 13%;
    width: 100%;
    background-color: #0db1b3;

    .attendance-info {
      outline: 0.1px solid $border-color;
      min-width: 85px;
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      font-size: 13px;
      // min-height: 70px;
    }
    .attendance-loop-container {
      display: flex;
      width: 75%;
      flex-wrap: wrap;

      .attendance-loop {
        outline: 0.1px solid $border-color;
        min-width: 30px;
        width: 3.2%;
        // width: 40px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
      }
    }

    .header-action {
      outline: 0.1px solid $border-color;
      width: 100px;
      min-width: 7%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 12px;
    }
  }

  .attendance-row {
    display: flex;
    // flex-wrap: wrap;
    // outline: 1px solid $border-color;
    min-height: 13%;
    width: 100%;
    background-color: #f1f7f7;

    .attendance-info {
      outline: 0.1px solid $border-color;
      min-width: 85px;
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      font-size: 13px;

      // min-height: 70px;
    }
    .attendance-loop-container {
      display: flex;
      width: 75%;
      flex-wrap: wrap;

      .attendance-loop {
        outline: 0.1px solid $border-color;
        min-width: 30px;
        width: 3.2%;
        // width: 40px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
      }
      // .attendance-loop:hover {
      //   transform: scale(1.12);
      //   background-color: #c6e9e9;
      // }
    }

    .header-action {
      outline: 1px solid $border-color;
      width: 100px;
      min-width: 7%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.attendance-pop-up {
  outline: 3px solid #204887;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
  font-size: 18px;
  position: fixed;
  top: 27%;
  left: 40%;
  // transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 30px;
  background-color: #c3edf5;

  .employeeInfo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // outline: 2px solid #729798;
    border-bottom: 1px solid #0a898e;
    border-top: 1px solid #0a898e;
    border-radius: 40px;
    height: 120px;
    font-size: 25px;
    color: #0a898e;
  }

  .employeeId_and_date {
    display: flex;
    flex-direction: "row";
  }

  .employeeId_and_date_innerText {
    margin-left: 10px;
  }

  .attendance-time-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 20px;
  }
  .attendance-checkInOut_time {
    display: flex;
    flex-direction: "row";
  }
  .attendance-checkInOut_time_innerText {
    margin-left: 10px;
    font-weight: bold;
  }
  .attendance-form-container {
    font-size: 22px;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100px;

    .button-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 15px 0 0 0;
    }

    .attendSelection {
      margin-left: 10px;
      height: 30px;
      border-radius: 10px;
      font-size: 20px;
      background-color: #f1f7f7;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 80px;
      border-radius: 20px;
      border: 2px solid black;
      font-size: 16px;
    }

    .button:hover {
      transform: scale(1.12);
      background-color: #a7e3f1;
    }
  }
}
