// date picker width
#payroll_export_datepicker .month-picker {
  width: 550px;
}

// odd and even row color
.p-datatable .p-datatable-wrapper .p-datatable-tbody > tr:nth-child(even) {
  background: #edf6f9;
}

.p-datatable .p-datatable-wrapper .p-datatable-tbody > tr:nth-child(odd) {
  background: #fcfffd;
}

// column title
.p-sortable-column .p-column-header-content {
  color: RGB(14, 178, 179);
  // color: #006f57;
}

// column icon title
.p-sortable-column .p-column-header-content .p-sortable-column-icon {
  color: RGB(36, 209, 174);
  // color: #03045e;
}

// payroll show edited number
.payroll-editing .redNumber {
  color: white;
  // color: #ff5c5c;
  background: #03045e;
  padding: 0.5rem;
}

.payroll-editing .blueNumber {
  color: #00b4ab;
}

// .whiteNumber {
//   color: rgba(160, 0, 0, 0.5);
//   padding: 1rem;
// }

// payroll summary column height
.payroll-summary .p-datatable .p-datatable-tbody > tr > td {
  padding: 1.4rem 1rem;
}

// edit item color
.p-row-editor-init-icon.pi.pi-fw.pi-pencil {
  color: #00b4ab;
}

//play role
.payroll-review-header {
  display: flex;
  flex-direction: row;
}

.payroll-review-word {
  padding-top: 15px;
  padding-left: 15px;
  font-weight: bolder;
  .payroll-review-status {
    background-color: #00b4ab;
    color: white;
    padding: 0.5rem;
    margin-right: 0.5rem;
  }
  .payroll-review-status-wording {
    font-size: large;
  }
}
