.datatable .rejected {
  font-weight: 300;
  background-color: #ff5252;
  color: white;
  text-align: center;
  padding: 5px;
  /* text-decoration: line-through; */
}

.datatable .pending {
  font-weight: 300;
  background-color: #ffa726;
  color: white;
  text-align: center;
  padding: 5px;
}

.datatable .approved {
  font-weight: 300;
  background-color: #66bb6a;
  color: white;
  text-align: center;
  padding: 5px;
}

.datatable .taken {
  font-weight: 300;
  background-color: #9fb0f3;
  color: white;
  text-align: center;
  padding: 5px;
}

.datatable .cancelled {
  font-weight: 300;
  background-color: #a4a4a4;
  color: white;
  text-align: center;
  padding: 5px;
}

.datatable .onleave {
  font-weight: 300;
  background-color: #55cfba;
  color: white;
  text-align: center;
  padding: 5px;
}

/* .datatable .row-accessories {
    background-color: rgba(0, 0, 0, 0.15) !important;
} */

button.actionButton {
  border-style: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  margin: 0;
  width: 120px;
}

button.cancelledApp {
   width: 160px;
}

button.pending{
  width: 160px;
}