.bg-container {
  background: RGB(224, 224, 224);
  // background: RGB(250, 250, 250);
  height: 100%;
  display: flex;
}

.sidebar {
  display: flex;
  height: 100%; 

  background: white;
  // width: 18rem;
  // position: fixed;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#company-logo {
  color: RGB(53,85,138);
  font:bolder;
  font-size: 25px;
  word-spacing: 2px;

}

// .active {
//   background: RGB(53,85,138);
// }

.main {
  display: flex;
  flex-basis: 100%;
}

.setting {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: "100";

  button {
    background: RGB(53,85,138);
    border: 0px;
    border-radius: 50%;
    font-size: 30px;
    padding: 10px 10px 5px 10px;
    color: white;
    &:hover {
      background: #08dda5;

    }
  }
}