:root {
  --main-bg-color:RGB(250,250,250);
  --sidebar-bg-color:RGB(241,247,247);
  --theme-green: RGB(14,178,179)
}

.container {
  background: var(--main-bg-color);
  display: flex;
  height: 100vh;
}

.sidebar {
  a {
    text-decoration: none;

    &:visited {
      color: black;
    }
  }
  background: var(--sidebar-bg-color);
  display: flex;
  padding: 30px;
  flex-direction: column;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  .nav-item:hover {
    background: var(--theme-green);
  }
  div {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    padding-left: 10px;
    span {
      padding-left: 10px;
      text-transform: capitalize;
    }
  }
  .sub-item {
    padding-left: 20px;
  }
  .active {
    background: var(--theme-green);
    color: white !important;
  }
}

#company-logo {
  color: var(--theme-green);
  font-weight: 800;
  font-size: 35px;
  word-spacing: 2px;
}

// .active {
//   background: RGB(53,85,138);
// }

.main {
  flex-grow: 1;
  padding-left: 50px;
}

.setting {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: "100";

  button {
    background: var(--theme-green);
    border: 0px;
    border-radius: 50%;
    font-size: 30px;
    padding: 10px 10px 5px 10px;
    color: white;
    &:hover {
      background: #08dda5;
    }
  }
}


// calendar

.calendar-main {
  
}