.container {
  background: #CCD7E4;
  display: flex;
  height: 100vh;
}


.sidebar {
  a {
    text-decoration: none;
    // &:hover {
    //   background: #08dda5;
    // }
    &:visited {
      color: black;
    }
  }
  display: flex;
  padding: 30px;
  flex-direction: column;
  background: white;
  width: 300px;
  // position: fixed;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  NavLink, div{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 10px 0px;
padding-left: 10px;
    span {
      padding-left: 10px;
      text-transform: capitalize;
    }

  }
.sub-item {
  padding-left: 20px;
}
.active {
  background:RGB(53, 85, 138);
  color: white!important;
}
}

#company-logo {
  color: RGB(53, 85, 138);
  font: bolder;
  font-size: 30px;
  word-spacing: 2px;
}

// .active {
//   background: RGB(53,85,138);
// }

.main {
  flex-grow: 1;
  padding-left: 50px;
}

.setting {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: "100";

  button {
    background: RGB(53, 85, 138);
    border: 0px;
    border-radius: 50%;
    font-size: 30px;
    padding: 10px 10px 5px 10px;
    color: white;
    &:hover {
      background: #08dda5;
    }
  }
}